<!DOCTYPE html>
<html>
<head>
  <!-- METADATA -->
  <title>Class Drakon | Omaha Code School</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Project Description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Project Title | By ********"/>
  <meta property="og:description" content="Project Description"/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
  <meta property='og:site_name' content="Project Title | By ********"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Project Title | By ********">
  <meta name="twitter:description" content="Project Description">
  <meta name="twitter:image" content="http://url.to.com/infographic/url/img/share-title.png">


  <!-- ICONS -->
  <link href="assets/favicon.ico" rel="shortcut icon">



  <!-- STYLESHEETS-->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
  <link rel="stylesheet" type="text/css" media="all" href="css/animate.css" />

  <!-- -- SCRIPTS -- -->



</head>
<body>

  <section id="home">
    <div class="ul_wrap">
      <ul>
         <li> <a href ="#home" >home </a></li>
        <li> <a href ="#work" >work </a></li>
        <li><a href ="#contact">students </a></li>
        <li> <a href ="#contact">contact</a></li>
      </ul>
    </div>

    <header class="animated slideInDown">
      <img src ="assets/ocs_logo.svg" class="ocs_logo animated slideInDown">
    </header>
 

   

    <section class="part-one animated fadeIn">


  
      <div class="part-one-left">
        <div class="text_wrapper">
          <div class="logo animated fadeIn delay1">
            <img src ="assets/class-drakon.svg">
          </div>
      
          <h1 class="animated fadeIn "> ruby on rails
            <br>html/css
            <br>javascript
            <br>sql database
          </h1>
     
          <!-- <img src="assets/circles-02.svg" class="circles"> -->

  
        </div>
      </div>
   
      <div style="clear:both"></div>
 
    </div>
 
  </section>

  <div class="quote animated slideInUp">
    student work portfolio 
    <img src="assets/arrow-down-01.svg" class="arrow">
  </div>
  <a name="work"></a>
    
  
  <section class="work_blocks">
   
    <div class="wrapper_work">
        
      <div id="work-one">
        <div class="over-work over-work">
          <h3>jeannie north</h3>
          <h4>student portfolio</h4>
          <div class="button"> <a href="#">visit work</a> </div>
        </div>
      </div>
      <div id="work-two">
        <div class="over-work over-work">
          <h3>jeannie north</h3>
          <h4>student portfolio</h4>
          <div class="button"> <a href="#">visit work</a> </div>
        </div>
      </div>
      <div id="work-three">
        <div class="over-work over-work">
          <h3>jeannie north</h3>
          <h4>student portfolio</h4>
          <div class="button"> <a href="#">visit work</a> </div>
        </div>
      </div>
       
       
      <div id="student_quote">
        “it’s intense, but totally worth
         it.”
         <br><img src="assets/student_head.png" width="100px">
        <h2> - Jeannie, OCS Class Drakon </h2>
      </div>
        
    
      <div style="clear:both"></div>
    </div>
        
    <div class="wrapper_work">
        
      <div id="work-four">
        <div class="over-work over-work">
          <h3>jeannie north</h3>
          <h4>student portfolio</h4>
          <div class="button"> <a href="#">visit work</a> </div>
        </div>
      </div>
      <div id="work-five">
        <div class="over-work over-work">
          <h3>jeannie north</h3>
          <h4>student portfolio</h4>
          <div class="button"> <a href="#">visit work</a> </div>
        </div>
      </div>
      <div id="work-six">
        <div class="over-work over-work">
          <h3>jeannie north</h3>
          <h4>student portfolio</h4>
          <div class="button"> <a href="#">visit work</a> </div>
        </div>
      </div>
       
       
      <div id="student_quote_two">
        “i learned such invaluable skills”
        <br><img src="assets/student_head.png" width="100px">
        <h2> - Kristin, OCS Class Drakon </h2>
      </div>
        
    
      <div style="clear:both"></div>
    </div>
    
  </section>
   <a name="contact"></a>
  <section class="contact">
    <img src ="assets/star.svg" class="star">
    <div class="contact_left">
      <h1> students of class drakon </h1>
      <hr></hr>
      <div class="contact_left_inner">
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
      </div>
      <div class="contact_left_inner_right">
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
        <h2> jeannie north </h2>
      </div>
      <div style="clear:both"></div>
    </div>
      
    <div class="contact_right">
     
      <h1> contact us</h1>
      <p>interested in a student’s work 
        <br>or want more 
        information on omaha code school?<p>
  

          <div id="form">
            <form action="/contacts" method="post">
              <h4> name: <input type="name" class = "form" placeholder="your name" name="name" value="<%= params["name"] %>" required></h4>
              <h4> email: <input type="email" class = "form" placeholder="your email" name="email" value="<%=params["email"]%>" ></h4>
              <h4> phone: <input type="text" class = "form" placeholder="402-555-5555" name="phone" value="<%=params["phone"]%>" required></h4>
              <h4> message: <input type="text_area" class = "form message" placeholder="what can we build for you?" name="message" value="<%=params["message"]%>"required> </h4>
              <input type="hidden" name="date" value="<%=Time.now%>"</h4>
              <p> <input type="submit" value="submit" class="submit"></p>
            </form>
          </div>

        
        </div>
        <div style="clear:both"></div>
      </section>
  
    </section>
    <footer></footer>
  
 
    <script src="js/main.js" media="(min-width: 700px)" type="text/javascript"></script>
    <!-- google analytics -->
    <!-- end google analytics -->
  </body>
  </html>